html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb{
    margin-bottom: 20px;
    font-size: 13px;
}
.el-card{
    box-shadow:  rgba(45, 62, 80, 0.12) 0px 1px 5px 0px !important
}
.el-table{
    margin-top: 20px;
    font-size: 13px;
}
.el-pagination{
    margin-top: 20px;
    font-size: 13px;
}
